<html>
 <head></head>
 <body>
  <div id="qheader_nav" class="yk-nav">
   <div class="yk-box">
    <div class="yk-nav-first">
     <div class="yk-nav-main">
      <ul class="yk-nav-pills">
       <li class="current"><a charset="100-004-1" href="{:U('Home/index/index')}">首页</a></li>

         <!-- <foreach name="cates" item="vo" >
             <li><a charset="100-004-3" href="__APP__/{$vo.aliress}">{$vo.name}</a></li>
        </foreach> -->
       <li><a charset="100-004-4" href="{:U('Home/Wenxue/index')}">文学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Shuxue/index')}">数学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Yuyan/index')}">语言</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Wuli/index')}">物理</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Huaxue/index')}">化学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Shengwu/index')}">生物</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Lishi/index')}">历史</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Dili/index')}">地理</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Zhengzhi/index')}">政治</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Jisuanji/index')}">计算机科学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Zhexue/index')}">哲学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Falv/index')}">法学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Shehui/index')}">社会学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Shangye/index')}">商业</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Chuanmei/index')}">传媒</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Jingji/index')}">经济学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Yixue/index')}">医学健康</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Yishu/index')}">艺术学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Gongxue/index')}">工学类</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Lixue/index')}">理学类</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Nongxue/index')}">农学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Junshi/index')}">军事学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Guanli/index')}">管理学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Jiaoyu/index')}">教育学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Zongjiao/index')}">宗教学</a></li>
       <li><a charset="100-004-4" href="{:U('Home/Xinlixue/index')}">心理学</a></li> 
       <li><a charset="100-004-4" href="{:U('Home/Xuexiao/index')}">学校&机构</a></li>
       <li><a charset="100-001-91" href="{:U('Home/Search/index')}">全部</a></li>
      </ul>
     </div>
    </div>
   </div>
  </div>
 </body>
</html>