<div style="display: block; left: 0px;" class="yk-sidebar yk-sidebar-position" id="ykSideBar">
    <div class="yk-side-menu">
	    <ul class="ykSideMenu">
	        <li><a target="_self" href="{:U('Home/Search/index')}"><div class="icon-1"></div><span>师者精选</span></a></li>
	        <!-- <li><a target="_self" href="{:U('Home/Search/index')}"><div class="icon-2"></div><span>猜你喜欢</span></a></li> -->
	        <li><a onclidk="" target="_self" href="{:U('Home/Subscribe/index')}"><div class="icon-3"></div><span>我的订阅</span></a></li>
			<li><a target="_self" href="{:U('Home/Record/index')}"><div class="icon-4"></div><span>观看记录</span></a></li>
			<li><a target="_self" href="{:U('Home/Index/edu_bank')}"><div style="margin-left: -50px; margin-top: -10px;"><img src="__PUBLIC__/Home/pic/icon-5.jpg"></div><span>教育银行</span></a></li>
	    </ul>
    </div>
    <div class="split"></div>

</div>

