<div id="qfooter" class="yk-footer">
    <div class="yk-footer-con">

        <div class="cert">
            <div class="cert-list">
                <p><span class="icon-footer-submit"></span> <a target="_blank" href="http://www.12377.cn/">违法和不良信息举报中心</a></p>
                <p><a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=nP7w-f-37_nm-ffp3O3tsv-z8Q" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_11.png"/></a></p>
            </div>
           
        </div>
        <div class="copyright">
            北京伽马星球科技教育有限公司出品
        </div>
    </div>
</div>