<link href="__PUBLIC__/Home/css/youku.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/qheader.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/chuda_qheader.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/lsidetool.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/yk.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/grid_pc.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/qfooter.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/ykhome.css" type="text/css" rel="stylesheet">
<link rel="icon" href="__PUBLIC__/Home/pic/favicon.png" type="image/png" >
<script type="text/javascript" src='__PUBLIC__/Home/js/jquery-1.8.3.min.js'></script>