<div id="m_205805" name="m_pos" lazy-loaded="true">
    <!-- row 1 页首 8/5 +1 START -->
    <div class="yk-row-index">
        <div class="yk-row">
            <div id="m_205902" name="m_pos">
                <div class="yk-col12">
                    <div class="yk-row">
                        <div class="yk-col8">

                            <div class="v v-large focusVideo ishover">
                                <div class="v-thumb">
                                    <img alt="{$mainShow[0]['title']}" src="{$mainShow[0]['pic']}">
                                </div>
                                <div class="v-link">
                                    <a title="{$mainShow[0]['title']}" target="video" data-from="1-1" href="{:U('Home/Play/index')}?videoId={$mainShow[0]['id']}">
                                    </a>
                                </div>
                                <div class="v-meta vb">
                                    <div class="v-meta-title">
                                        <a target="video" data-from="1-2" href="">
                                           
                                            {$mainShow[0]['title']}
                                        </a>
                                    </div>

                                    <div class="v-meta-overlay">
                                    </div>
                                </div>
                                <div class="v-meta-deep">
                                    <a target="_blank" data-from="1-3 " href="{:U('Home/Search/index')}">
                                        深度精选
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="yk-col4">
                            <div class="v ishover" id="">
                                <div class="v-thumb">
                                    <img alt="{$mainShow[1]['title']}" src="{$mainShow[1]['pic']}">
                                </div>
                                <div class="v-link">
                                    <a title="{$mainShow[1]['title']}" target="video" data-from="2-1" href="{:U('Home/Play/index')}?videoId={$mainShow[1]['id']}">
                                    </a>
                                </div>
                                <div class="v-meta vb vb-oneline">
                                    <div class="v-meta-title">
                                        <a target="video" data-from="2-2" href="">
                                            
                                            {$mainShow[1]['title']}
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            水手吃"花"被判重刑
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a target="_blank" data-from="2-3" href="">
                                         
                                            <i class="ico-user">
                                            </i>
                                            看理想
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a class="btn btn-small" target="video" data-from="2-4" href="">
                                          
                                            播&nbsp;&nbsp;放
                                        </a>
                                    </div>
                                    <div class="v-meta-tagrt">
                                        <i title="播放" class="ico-statplay">
                                        </i>
                                        <span class="v-num">
                                            8.3万
                                        </span>
                                    </div>
                                    <div class="v-meta-tagrb">
                                        <a title="下载" class="ico_download" data-id="XMTI5NDgxNjMxMg==" data-link=""
                                        data-type="video" href="javascript:void(0);">
                                        
                                        </a>
                                    </div>
                                    <div class="v-meta-overlay">
                                    </div>
                                </div>
                            </div>
                            <div class="v ishover" id="">
                                <div class="v-thumb">
                                    <img alt="{$mainShow[2]['title']}" src="{$mainShow[2]['pic']}">
                                </div>
                                <div class="v-link">
                                    <a title="{$mainShow[2]['title']}" target="video" data-from="3-1" href="{:U('Home/Play/index')}?videoId={$mainShow[2]['id']}">
                                    </a>
                                </div>
                                <div class="v-meta vb vb-oneline">
                                    <div class="v-meta-title">
                                        <a target="video" data-from="3-2" href="">
                                          
                                            {$mainShow[2]['title']}
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            &lt;歌手是谁&gt;帮你上头条
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a target="_blank" data-from="3-3" href="">
                                            <i class="ico-user">
                                            
                                            </i>
                                            歌手是谁
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a class="btn btn-small" target="video" data-from="3-4" href="">
                                           
                                            播&nbsp;&nbsp;放
                                        </a>
                                    </div>
                                    <div class="v-meta-tagrt">
                                        <i title="播放" class="ico-statplay">
                                        </i>
                                        <span class="v-num">
                                            13.0万
                                        </span>
                                    </div>
                                    <div class="v-meta-tagrb">
                                        <a title="下载" class="ico_download" data-id="XMTI5NTcwMDA3Mg==" data-link=""
                                        data-type="video" href="javascript:void(0);">
                                        </a>
                                    </div>
                                    <div class="v-meta-overlay">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="yk-row">
                        <div class="yk-col4">
                            <div _showid="299011" class="v ishover" id="">
                                <div class="v-thumb">
                                    <img alt="{$mainShow[3]['title']}" src="{$mainShow[3]['pic']}">
                                </div>
                                <div class="v-link">
                                    <a title="{$mainShow[3]['title']}" target="video" data-from="3-1" href="{:U('Home/Play/index')}?videoId={$mainShow[3]['id']}">
                                    </a>
                                </div>
                                <div class="v-isdrama">
                                </div>
                                <div class="v-meta vb vb-oneline">
                                    <div class="v-meta-title">
                                        <a target="video" data-from="3-2" href="">
                                            {$mainShow[3]['title']}
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            霍建华赵丽颖师徒禁恋
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            每周日周一晚24时更新两集
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a class="btn btn-small" target="video" data-from="3-3" href="">
                                            播&nbsp;&nbsp;放
                                        </a>
                                    </div>
                                    <div class="v-meta-tagrt">
                                        <span class="v-status">
                                            更新至34
                                        </span>
                                    </div>
                                    <div class="v-meta-tagrb">
                                    </div>
                                    <div class="v-meta-tagrb">
                                        <a title="下载" class="ico_download" data-id="af02ac580b5711e5a080" data-type="vshow"
                                        href="javascript:void(0);">
                                        </a>
                                    </div>
                                    <div class="v-meta-overlay">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yk-col4">
                            <div _showid="297237" class="v ishover" id="">
                                <div class="v-thumb">
                                    <img alt="{$mainShow[4]['title']}" src="{$mainShow[4]['pic']}">
                                </div>
                                <div class="v-link">
                                    <a title="{$mainShow[4]['title']}" target="video" data-from="3-1" href="{:U('Home/Play/index')}?videoId={$mainShow[4]['id']}">
                                    </a>
                                </div>
                                <div class="v-isdrama">
                                </div>
                                <div class="v-meta vb vb-oneline">
                                    <div class="v-meta-title">
                                        <a target="video" data-from="3-2" href="">
                                            {$mainShow[4]['title']}
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            唐嫣俘获Rain欧巴芳心
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            每晚24时更新2集
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a class="btn btn-small" target="video" data-from="3-3" href="">
                                            播&nbsp;&nbsp;放
                                        </a>
                                    </div>
                                    <div class="v-meta-tagrt">
                                        <span class="v-status">
                                            更新至14
                                        </span>
                                    </div>
                                    <div class="v-meta-tagrb">
                                    </div>
                                    <div class="v-meta-tagrb">
                                        <a title="下载" class="ico_download" data-id="cfe83b2aa50111e4abda" data-type="vshow"
                                        href="javascript:void(0);">
                                        </a>
                                    </div>
                                    <div class="v-meta-overlay">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="yk-col4">
                            <div class="v ishover" id="">
                                <div class="v-thumb">
                                    <img alt="{$mainShow[5]['title']}" src="{$mainShow[5]['pic']}">
                                </div>
                                <div class="v-link">
                                    <a title="{$mainShow[5]['title']}" target="video" data-from="6-1" href="{:U('Home/Play/index')}?videoId={$mainShow[5]['id']}">
                                    </a>
                                </div>
                                <div class="v-meta vb vb-oneline">
                                    <div class="v-meta-title">
                                        <a target="video" data-from="6-2" href="">
                                            {$mainShow[5]['title']}
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <span>
                                            奥莉示爱馨爷
                                        </span>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a target="_blank" data-from="6-3" href=""
                                        class="v-username">
                                            <i class="ico-user">
                                            </i>
                                            爸爸回来了 第二季
                                        </a>
                                    </div>
                                    <div class="v-meta-entry">
                                        <a class="btn btn-small" target="video" data-from="6-4" href="">
                                            播&nbsp;&nbsp;放
                                        </a>
                                    </div>
                                    <div class="v-meta-tagrt">
                                        <i title="播放" class="ico-statplay">
                                        </i>
                                        <span class="v-num">
                                            1,200万
                                        </span>
                                    </div>
                                    <div class="v-meta-tagrb">
                                        <a title="下载" class="ico_download" data-id="XMTI5MzQ5NjUzMg==" data-link=""
                                        data-type="video" href="javascript:void(0);">
                                        </a>
                                    </div>
                                    <div class="v-meta-overlay">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yk-col4 yk-w970-hide">
                    <div class="v ishover" id="">
                        <div class="v-thumb">
                            <img alt="{$mainShow[6]['title']}" src="{$mainShow[6]['pic']}">
                        </div>
                        <div class="v-link">
                            <a title="{$mainShow[6]['title']}" target="video" data-from="7-1" href="{:U('Home/Play/index')}?videoId={$mainShow[6]['id']}">
                            </a>
                        </div>
                        <div class="v-meta vb vb-oneline">
                            <div class="v-meta-title">
                                <a target="video" data-from="7-2" href="">
                                    {$mainShow[6]['title']}
                                </a>
                            </div>
                            <div class="v-meta-entry">
                                <span>
                                    自侃：没熊猫机智
                                </span>
                            </div>
                            <div class="v-meta-entry">
                                <a target="_blank" data-from="7-3" href=""
                                class="v-username">
                                    <i class="ico-user">
                                    </i>
                                    师者教育
                                </a>
                            </div>
                            <div class="v-meta-entry">
                                <a class="btn btn-small" target="video" data-from="7-4" href="">
                                    播&nbsp;&nbsp;放
                                </a>
                            </div>
                            <div class="v-meta-tagrt">
                                <i title="播放" class="ico-statplay">
                                </i>
                                <span class="v-num">
                                    18.0万
                                </span>
                            </div>
                            <div class="v-meta-tagrb">
                                <a title="下载" class="ico_download" data-id="XMTI5NjAxMjgwNA==" data-link=""
                                data-type="video" href="javascript:void(0);">
                                </a>
                            </div>
                            <div class="v-meta-overlay">
                            </div>
                        </div>
                    </div>
                    <div class="v ishover" id="">
                        <div class="v-thumb">
                            <img alt="{$mainShow[7]['title']}" src="{$mainShow[7]['pic']}">
                        </div>
                        <div class="v-link">
                            <a title="{$mainShow[7]['title']}" target="video" data-from="8-1" href="{:U('Home/Play/index')}?videoId={$mainShow[7]['id']}">
                            </a>
                        </div>
                        <div class="v-meta vb vb-oneline">
                            <div class="v-meta-title">
                                <a target="video" data-from="8-2" href="">
                                    {$mainShow[7]['title']}
                                </a>
                            </div>
                            <div class="v-meta-entry">
                                <span>
                                    朱元璋用特务自毁长城
                                </span>
                            </div>
                            <div class="v-meta-entry">
                                <a target="_blank" data-from="8-3" href=""
                                class="v-username">
                                    <i class="ico-user">
                                    </i>
                                    袁腾飞袁游
                                </a>
                            </div>
                            <div class="v-meta-entry">
                                <a class="btn btn-small" target="video" data-from="8-4" href="">
                                    播&nbsp;&nbsp;放
                                </a>
                            </div>
                            <div class="v-meta-tagrt">
                                <i title="播放" class="ico-statplay">
                                </i>
                                <span class="v-num">
                                    16.0万
                                </span>
                            </div>
                            <div class="v-meta-tagrb">
                                <a title="下载" class="ico_download" data-id="XMTI5NTYxODAwNA==" data-link=""
                                data-type="video" href="javascript:void(0);">
                                </a>
                            </div>
                            <div class="v-meta-overlay">
                            </div>
                        </div>
                    </div>
                    <div class="v ishover" id="">
                        <div class="v-thumb">
                            <img alt="{$mainShow[8]['title']}" src="{$mainShow[8]['pic']}">
                        </div>
                        <div class="v-link">
                            <a title="{$mainShow[8]['title']}" target="video" data-from="9-1" href="{:U('Home/Play/index')}?videoId={$mainShow[8]['id']}">
                            </a>
                        </div>
                        <div class="v-meta vb vb-oneline">
                            <div class="v-meta-title">
                                <a target="video" data-from="9-2" href="">
                                    {$mainShow[8]['title']}
                                </a>
                            </div>
                            <div class="v-meta-entry">
                                <span>
                                    史上最轻电动长板
                                </span>
                            </div>
                            <div class="v-meta-entry">
                                <a target="_blank" data-from="9-3" href=""
                                class="v-username">
                                    <i class="ico-user">
                                    </i>
                                    TED官方频道
                                </a>
                            </div>
                            <div class="v-meta-entry">
                                <a class="btn btn-small" target="video" data-from="9-4" href="">
                                    播&nbsp;&nbsp;放
                                </a>
                            </div>
                            <div class="v-meta-tagrt">
                                <i title="播放" class="ico-statplay">
                                </i>
                                <span class="v-num">
                                    33.0万
                                </span>
                            </div>
                            <div class="v-meta-tagrb">
                                <a title="下载" class="ico_download" data-id="XNzg5NDk0MzAw" data-link=""
                                data-type="video" href="javascript:void(0);">
                                </a>
                            </div>
                            <div class="v-meta-overlay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="m_205904" name="m_pos">
                <div class="yk-col6">
                    <div id="m_205906" name="m_pos">
                        <div class="yk-AD-310x110 b20">
                            <div class="ad-wrap">
                                <div class="ad-con">
                                    <div id="ab_101557" class="ad-inner yk-AD-random yk-AD-random" style="display: block; position: relative; width: 310px; height: 110px;">
                                        <div class="yk-AD-310x110 b20">
                                            <div class="ad-wrap">
                                                <div class="ad-con">
                                                    <div id="ab_101557" class="ad-inner">
                                                        <div style="height: 110px; overflow:hidden;" id="yk-AD-random-wrap">
                                                            <div id="ab_22" style="display: block;">
                                                                <div align="center" id="s_h_573982" class="mod">
                                                                    <a target="_blank" onclick="window.location.href='edu_bank.html'">
                                                                        <img border="0" src="__PUBLIC__/Home/img/edubank.png">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            
            <div id="m_205904" name="m_pos">
                <div class="yk-col6">
                    <div id="m_205906" name="m_pos">
                        <div class="yk-AD-310x110 b20">
                            <div class="ad-wrap">
                                <div class="ad-con">
                                    <div id="ab_101557" class="ad-inner yk-AD-random yk-AD-random" style="display: block; position: relative; width: 310px; height: 110px;">
                                        <div class="yk-AD-310x110 b20">
                                            <div class="ad-wrap">
                                                <div class="ad-con">
                                                    <div id="ab_101557" class="ad-inner">
                                                        <div style="height: 110px; overflow:hidden;" id="yk-AD-random-wrap">
                                                            <div id="ab_22" style="display: block;">
                                                                <div align="center" id="s_h_573982" class="mod">
                                                                    <a target="_blank" href="http://www.lj.com">
                                                                        <img border="0" src="__PUBLIC__/Home/img/forum.png">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            <div id="m_205904" name="m_pos">
                <div class="yk-col6">
                    <div id="m_205906" name="m_pos">
                        <div class="yk-AD-310x110 b20">
                            <div class="ad-wrap">
                                <div class="ad-con">
                                    <div id="ab_101557" class="ad-inner yk-AD-random yk-AD-random" style="display: block; position: relative; width: 310px; height: 110px;">
                                        <div class="yk-AD-310x110 b20">
                                            <div class="ad-wrap">
                                                <div class="ad-con">
                                                    <div id="ab_101557" class="ad-inner">
                                                        <div style="height: 110px; overflow:hidden;" id="yk-AD-random-wrap">
                                                            <div id="ab_22" style="display: block;">
                                                                <div align="center" id="s_h_573982" class="mod">
                                                                    <a target="_blank" href="http://www.jk.com">
                                                                        <img border="0" src="__PUBLIC__/Home/img/jikeworld.png">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>