<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <base href="<%=basePath%>">
    
    <title>个人终身教育履历</title>
    
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/resume.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/search/s_video.css" />
    <script type="text/javascript" src="__PUBLIC__/Home/js/search/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/search/iku.js"></script>
    <script type="text/javascript" src='__PUBLIC__/Home/js/index.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Home/js/jquery-1.8.3.min.js'></script>
  </head>

  <body>
    <div class="top">
            <img style="" alt="终身教育履历" src="__PUBLIC__/Home/pic/lvli1.jpg" />
    </div>

            <table class="table">
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=1','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="文学" src="__PUBLIC__/Home/pic/wenxue.png"><br><span style="margin-left: -40px;">文学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=2','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="数学" src="__PUBLIC__/Home/pic/shuxue.png"><br><span style="margin-left: -40px;">数学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=3','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="语言" src="__PUBLIC__/Home/pic/yuyan.png"><br><span style="margin-left: -20px;">语言</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=4','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="物理学" src="__PUBLIC__/Home/pic/wuli.png"><br><span style="margin-left: -40px;">物理学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=5','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="化学" src="__PUBLIC__/Home/pic/huaxue.png"><br><span style="margin-left: -40px;">化学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=6','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="生物学" src="__PUBLIC__/Home/pic/shengwu.png"><br><span style="margin-left: -20px;">生物学</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=7','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="历史学" src="__PUBLIC__/Home/pic/lishixue.png"><br><span style="margin-left: -40px;">历史学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=8','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="地理" src="__PUBLIC__/Home/pic/dili.png"><br><span style="margin-left: -40px;">地理</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=9','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="政治学" src="__PUBLIC__/Home/pic/zhengzhi.png"><br><span style="margin-left: -20px;">政治</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=10','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="计算机科学" src="__PUBLIC__/Home/pic/jisuanji.png"><br><span style="margin-left: -40px;">计算机科学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=11','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="哲学" src="__PUBLIC__/Home/pic/zhexue.png"><br><span style="margin-left: -20px;">哲学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=12','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="哲学" src="__PUBLIC__/Home/pic/faxue.png"><br><span style="margin-left: -20px;">法学</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=13','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="社会学" src="__PUBLIC__/Home/pic/shehui.png"><br><span style="margin-left: -40px;">社会学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=14','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="商业" src="__PUBLIC__/Home/pic/shangye.png"><br><span style="margin-left: -40px;">商业</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=15','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="传媒" src="__PUBLIC__/Home/pic/chuanmei.png"><br><span style="margin-left: -20px;">传媒</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=16','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="经济学" src="__PUBLIC__/Home/pic/jingjixue.png"><br><span style="margin-left: -40px;">经济学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=17','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="医学健康" src="__PUBLIC__/Home/pic/yixue.png"><br><span style="margin-left: -40px;">医学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=18','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="艺术学" src="__PUBLIC__/Home/pic/meishu.png"><br><span style="margin-left: -20px;">艺术学</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=19','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="工学类" src="__PUBLIC__/Home/pic/gongxue.png"><br><span style="margin-left: -40px;">工学类</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=20','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="理学类" src="__PUBLIC__/Home/pic/lixue.png"><br><span style="margin-left: -40px;">理学类</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=21','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="农学" src="__PUBLIC__/Home/pic/nongxue.png"><br><span style="margin-left: -20px;">农学</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=22','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="军事学" src="__PUBLIC__/Home/pic/junshixue.png"><br><span style="margin-left: -40px;">军事学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=23','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="管理学" src="__PUBLIC__/Home/pic/guanlixue.png"><br><span style="margin-left: -40px;">管理学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -20px;" onclick="window.open('detail.html?cl=24','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="教育学" src="__PUBLIC__/Home/pic/jiaoyuxue.png"><br><span style="margin-left: -20px;">教育学</span></a></center>
                            </td>
                    </tr>
                    <tr>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=25','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="宗教学" src="__PUBLIC__/Home/pic/zongjiao.png"><br><span style="margin-left: -40px;">宗教学</span></a></center>
                            </td>
                            <td>
                                <center><a href="javascrip:void(0)" style="text-decoration: none; margin-left: -40px;" onclick="window.open('detail.html?cl=26','','height=529, width=800, top=265,left=645, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no')" target="_self"><img style="width:50px;height:auto;" alt="心理学" src="__PUBLIC__/Home/pic/xinlixue.png"><br><span style="margin-left: -40px;">心理学</span></a></center>
                            </td>   
                    </tr>       
            </table>
    </div>
  </body>
</html>
