<html>
 <head></head>
 <body>
  <div data-cname="电视剧" class="yk-row-index yk-drawer dragmodule">
   <div class="yk-row">
    <div class="yk-w970-col12 yk-w1190-col16 yk-drawer-box">
     <div id="m_205922" name="m_pos">
      <div class="yk-box">
       <div class="yk-head">
        <div class="yk-title">
         <span><a href="{:U('Home/Xinlixue/index')}" data-from="0-10" target="_blank" class="yk-drawer-title"><img src="__ROOT__/Public/Home/img/index/xinlixue.png" /><font style="font-family:'隶书'; font-size: 35px;">心理学</font></a></span>
        </div>
        <div class="yk-append">
        </div>
        <div class="yk-extend"></div>
       </div>
       <div class="yk-body">
        <div contab="contab" id="tab_205922_1" style="">
         <div id="m_205810" name="m_pos">
          <div class="yk-body-hair">
           <div class="yk-AD yk-AD-145x30">
            <div id="m_205841" name="m_pos">
             <div id="ab_827" style="display: block;">
              <div class="AD_tipRT">
               <div style="top:0px; right:0px; width:150px;" class="tip_cont">
                <!-- 注意此处三个链接地址没填 -->
                <span target="_blank" href="" style="width:100px; height:25px; float:left; margin-left: 20px; margin-top: 4px;display:block; background:url() no-repeat; _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='crop');"></span>
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div id="m_205923" name="m_pos">
           <div class="yk-row">
            <div class="yk-col12">
             <div class="yk-row">
              <div class="yk-col8">
               <div _showid="299170" class="v v-large ishover" id="">
                <div class="v-thumb">
                 <img alt="{$xinlixueShow[0]['title']}" src="{$xinlixueShow[0]['pic']}" />
                </div>
                <div class="v-link">
                 <a title="{$xinlixueShow[0]['title']}" target="video" data-from="1-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[0]["id"]}"=""></a>
                </div>
                <div class="v-meta vb vb-oneline">
                 <div class="v-meta-title">
                  <a target="video" data-from="1-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[0]["id"]}"="">{$xinlixueShow[0]['title']}</a>
                 </div>



                 <div class="v-meta-overlay"></div>
                </div>
               </div>
              </div>
              <div class="yk-col4">
               <div _showid="274371" class="v ishover" id="">
                <div class="v-thumb">
                 <img alt="{$xinlixueShow[1]['title']}" src="{$xinlixueShow[1]['pic']}" _src="{$xinlixueShow[1]['pic']}" />

                </div>
                <div class="v-link">
                 <a title="{$xinlixueShow[1]['title']}" target="video" data-from="1-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[1]["id"]}"=""></a>
                </div>
                <div class="v-isdrama"></div>
                <div class="v-meta vb vb-oneline">
                 <div class="v-meta-title">
                  <a target="video" data-from="1-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[1]["id"]}"="">{$xinlixueShow[1]['title']}</a>
                 </div>



                 <div class="v-meta-overlay"></div>
                </div>
               </div>
               <div _showid="289419" class="v ishover" id="">
                <div class="v-thumb">
                 <img alt="{$xinlixueShow[2]['title']}" src="{$xinlixueShow[2]['pic']}" _src="{$xinlixueShow[2]['pic']}" />
                </div>
                <div class="v-link">
                 <a title="{$xinlixueShow[2]['title']}" target="video" data-from="2-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[2]["id"]}"=""></a>
                </div>
                <div class="v-isdrama"></div>
                <div class="v-meta vb vb-oneline">
                 <div class="v-meta-title">
                  <a target="video" data-from="2-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[2]["id"]}"="">{$xinlixueShow[2]['title']}</a>
                 </div>



                 <div class="v-meta-overlay"></div>
                </div>
               </div>
              </div>
             </div>
             <div class="yk-row">
              <div class="yk-col4">
               <div _showid="278029" class="v ishover" id="">
                <div class="v-thumb">
                 <img alt="{$xinlixueShow[3]['title']}" src="{$xinlixueShow[3]['pic']}" _src="{$xinlixueShow[3]['pic']}" />
                </div>
                <div class="v-link">
                 <a title="{$xinlixueShow[3]['title']}" target="video" data-from="1-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[3]["id"]}"=""></a>
                </div>
                <div class="v-isdrama"></div>
                <div class="v-meta vb vb-oneline">
                 <div class="v-meta-title">
                  <a target="video" data-from="1-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[3]["id"]}"="">{$xinlixueShow[3]['title']}</a>
                 </div>


                 <div class="v-meta-overlay"></div>
                </div>
               </div>
              </div>
              <div class="yk-col4">
               <div _showid="297260" class="v ishover" id="">
                <div class="v-thumb">
                 <img alt="{$xinlixueShow[4]['title']}" src="{$xinlixueShow[4]['pic']}" _src="{$xinlixueShow[4]['pic']}" />

                </div>
                <div class="v-link">
                 <a title="{$xinlixueShow[4]['title']}" target="video" data-from="2-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[4]["id"]}"=""></a>
                </div>
                <div class="v-isdrama"></div>
                <div class="v-meta vb vb-oneline">
                 <div class="v-meta-title">
                  <a target="video" data-from="2-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[4]["id"]}"="">{$xinlixueShow[4]['title']}</a>
                 </div>



                 <div class="v-meta-overlay"></div>
                </div>
               </div>
              </div>
              <div class="yk-col4">
               <div _showid="299822" class="v ishover" id="">
                <div class="v-thumb">
                 <img alt="{$xinlixueShow[5]['title']}" src="{$xinlixueShow[5]['pic']}" _src="{$xinlixueShow[5]['pic']}" />
                </div>
                <div class="v-link">
                 <a title="{$xinlixueShow[5]['title']}" target="video" data-from="3-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[5]["id"]}"=""></a>
                </div>
                <div class="v-isdrama"></div>
                <div class="v-meta vb vb-oneline">
                 <div class="v-meta-title">
                  <a target="video" data-from="3-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[5]["id"]}"="">{$xinlixueShow[5]['title']}</a>
                 </div>



                 <div class="v-meta-overlay"></div>
                </div>
               </div>
              </div>
             </div>
            </div>
            <div class="yk-col4 yk-w970-hide">
             <div _showid="294754" class="v ishover" id="">
              <div class="v-thumb">
               <img alt="{$xinlixueShow[6]['title']}" src="{$xinlixueShow[6]['pic']}" _src="{$xinlixueShow[6]['pic']}" />
              </div>
              <div class="v-link">
               <a title="{$xinlixueShow[6]['title']}" target="video" data-from="1-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[6]["id"]}"=""></a>
              </div>
              <div class="v-isdrama"></div>
              <div class="v-meta vb vb-oneline">
               <div class="v-meta-title">
                <a target="video" data-from="1-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[6]["id"]}"="">{$xinlixueShow[6]['title']}</a>
               </div>



               <div class="v-meta-overlay"></div>
              </div>
             </div>
             <div _showid="296138" class="v ishover" id="">
              <div class="v-thumb">
               <img alt="{$xinlixueShow[7]['title']}" src="{$xinlixueShow[7]['pic']}" _src="{$xinlixueShow[7]['pic']}" />

              </div>
              <div class="v-link">
               <a title="{$xinlixueShow[7]['title']}" target="video" data-from="2-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[7]["id"]}"=""></a>
              </div>
              <div class="v-isdrama"></div>
              <div class="v-meta vb vb-oneline">
               <div class="v-meta-title">
                <a target="video" data-from="2-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[7]["id"]}"="">{$xinlixueShow[7]['title']}</a>
               </div>



               <div class="v-meta-overlay"></div>
              </div>
             </div>
             <div _showid="299243" class="v ishover" id="">
              <div class="v-thumb">
               <img alt="{$xinlixueShow[8]['title']}" src="{$xinlixueShow[8]['pic']}" _src="{$xinlixueShow[8]['pic']}" />
              </div>
              <div class="v-link">
               <a title="{$xinlixueShow[8]['title']}" target="video" data-from="3-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[8]["id"]}"=""></a>
              </div>
              <div class="v-isdrama"></div>
              <div class="v-meta vb vb-oneline">
               <div class="v-meta-title">
                <a target="video" data-from="3-2" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[8]["id"]}"="">{$xinlixueShow[8]['title']}</a>
               </div>



               <div class="v-meta-overlay"></div>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="yk-col6">
     <div class="yk-side-range">
      <div id="m_205929" name="m_pos">
       <div class="yk-box">
        <div class="yk-head">
         <div class="yk-append">
          <ul switchtype="hover" focus="tabControl" class="yk-tab   yk-drawer-tab" id="">
           <li class="" tabidx="tab_205929_1" id="thtab_205929_1"> <a target="_blank" data-from="101-100" href="{:U('Home/Xinlixue/index')}" class="yk-drawer-title">心理学榜</a> </li>

          </ul>
         </div>
        </div>
        <div class="yk-body">
         <div style="" contab="contab" id="tab_205929_4">
          <div style="" id="tab_205929_4tabarea" notloadimg="true">
           <div id="m_205932" name="m_pos">
            <div class="yk-rank">
             <div class="line">
              <div class="item">
               <label class="hot">1</label>
               <a data-from="1-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[0]["id"]}" target="_blank" class="name">{$xinlixueShow[0]['title']}</a>
              </div>
              <div class="item">
               <label class="hot">2</label>
               <a data-from="2-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[1]["id"]}" target="_blank" class="name">{$xinlixueShow[1]['title']}</a>
              </div>
              <div class="item">
               <label class="hot">3</label>
               <a data-from="3-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[2]["id"]}" target="_blank" class="name">{$xinlixueShow[2]['title']}</a>
              </div>
              <div class="item">
               <label>4</label>
               <a data-from="4-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[3]["id"]}" target="_blank" class="name">{$xinlixueShow[3]['title']}</a>
              </div>
              <div class="item">
               <label>5</label>
               <a data-from="5-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[4]["id"]}" target="_blank" class="name">{$xinlixueShow[4]['title']}</a>
              </div>
             </div>
             <div class="line">
              <div class="item">
               <label>6</label>
               <a data-from="6-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[5]["id"]}" target="_blank" class="name">{$xinlixueShow[5]['title']}</a>
              </div>
              <div class="item">
               <label>7</label>
               <a data-from="7-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[6]["id"]}" target="_blank" class="name">{$xinlixueShow[6]['title']}</a>
              </div>
              <div class="item">
               <label>8</label>
               <a data-from="8-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[7]["id"]}" target="_blank" class="name">{$xinlixueShow[7]['title']}</a>
              </div>
              <div class="item">
               <label>9</label>
               <a data-from="9-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[8]["id"]}" target="_blank" class="name">{$xinlixueShow[8]['title']}</a>
              </div>
              <div class="item">
               <label>10</label>
               <a data-from="10-1" href="{:U('Home/Play/index')}?videoId={$xinlixueShow[9]["id"]}" target="_blank" class="name">{$xinlixueShow[9]['title']}</a>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!-- =============================广告位======================== -->
     <!-- <div style="margin-bottom:20px;">
      <div id="m_205936" name="m_pos">
       <div class="yk-AD-310x60 b20">
        <div class="ad-wrap">
         <div class="ad-con">
          <div id="ab_101543" class="ad-inner" style="display: block;">
           <div align="center" id="s_h_554649" class="mod">
            <a target="_blank" href=""><img border="0" src="__PUBLIC__/Home/Img/310-50-logo.jpg" /></a>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div id="m_205807" name="m_pos">
      <div class="yk-AD-310x110">
       <div class="ad-wrap">
        <div class="ad-con">
         <div id="ab_25" class="ad-inner" style="display: block;">
          <div align="center" id="s_h_598566" class="mod">
           <a target="_blank" href=""><img border="0" src="__PUBLIC__/Home/Img/310-110.jpg" /></a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div> -->
    </div>
   </div>
  </div>
 </body>
</html>