<div class="YK-footer">
	<div class="footer-box">
        <div style="line-height:22px;text-align:left;font-size:12px;width:549px;margin:0 auto;color:#909090;margin-bottom:15px;">
                    
本网站主办方已经对本网站内全部正版授权的视频内容，采取了必要的反盗版和防盗链等技术措施，并且添加、设置权利管理电子信息。任何单位或个人，未经本网
站主办方的许可，不得以任何方式（包括但不限于：盗链、冗余盗取等）直接或间接地盗取相关视频内容、不得以任何方式（包括但不限于：隐藏或者修改本网站域
名、播放器软件、师者标识等）删除或者改变相关视频内容的权利管理电子信息。否则，本网站主办方将保留进一步追究侵权者法律责任的权利。
        </div>
        <div class="copyright">
			Copyright&copy;2020 师者 shizhe.com 版权所有
			<a target="_blank" href="#" style="text-decoration:underline;">京ICP证060288号</a>
			<a target="_blank" href="#">
				<span title="经营性网站备案" class="icp"></span>
			</a>
		</div>
	</div>
</div>
