<div id="partnav"><div class="YK-nav">
    <ul>
        <li class="current"><a href="#">主页</a></li>
		                                                    <li>
                        <a href="__URL__/zhuanji.html" id="nav_playlist">专辑</a>
                    </li>
		                                                    <li>
                        <a href="__URL__/taolun.html" id="nav_guestbook">讨论区</a>
                    </li>
		                                                    <li>
                        <a href="__URL__/shipin.html" id="nav_video">视频</a>
                    </li>
		        <!--   <li class="current"> -->
                 		 
        <li>
            <div class="clear"></div>
            <div class="setting" id="nav_handle" style="display:none">
                <div class="handle"><a href="javascript:;"></a></div>
                <div class="edit" style="display:none">
                    <ul>
                        <li><a href="javascript:;" _for="edit_nav">编辑模块</a></li>
                        <li><a href="javascript:;" _for="hide_nav">隐藏导航</a></li>
                    </ul>
                </div>
            </div>
        </li>
		 
    </ul>
    <div class="clear"></div>
    <div class="YK-search">
        <div class="searchinput">
				<input type="text" maxlength="50" style="font-family:Microsoft YaHei,微软雅黑,helvetica,arial,verdana,tahoma,sans-serif;" id="searchinput" value="搜索视频" class="form_input form_input_s form_input_defaultvalue">
				<button class="search-btn"></button>
        </div>
    </div>
</div>
</div>
