<div id="topzone">
	<foreach name="Users" item="vo" key='k'>
    <div class="YK-topzone">
        <div class="banner" id="banner">
            <img style="width:990px;" src="__ROOT__/Uploads/Img/banner2.jpg">
        </div>
        <div class="userinfo">
            <div class="avatar">
                <a title="648462189" href="">
                    <img style="width:145px;" src="{$vo.photo}" title="648462189">
                </a>
            </div>
            <div class="profile" style="padding:9px 0 0 195px ;">
                <div class="info">
                    <div class="username">
                        <a style="font-size:24px;" title="648462189" href="">
                            648462189
                        </a>
                        <a href="" target="_blank" title="道长等级：3">
                            <i class="lvl3">
                            </i>
                        </a>
                    </div>
                    <!--div class="bio" title=""></div -->
                </div>
                <div class="state">
                    <ul>
                        <li class="vnum">
                            <em>
                                6万
                            </em>
                            <span style="font-family:Microsoft YaHei,微软雅黑,helvetica,arial,verdana,tahoma,sans-serif;">
                                视频播放数
                            </span>
                        </li>
                        <li class="splite">
                        </li>
                        <li class="snum">
                            <em sum_num="85">
                                85
                            </em>
                            <span style="font-family:Microsoft YaHei,微软雅黑,helvetica,arial,verdana,tahoma,sans-serif;">
                                粉丝数
                            </span>
                        </li>
                    </ul>
                    <div class="clear">
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
            <div class="social-network">
                <div class="share-list">
                    <ul>
                        <li>
                            <a title="转发到微信" target="_blank" href="">
                                <span class="ico ico__weixin">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="转发到QQ空间" target="_blank" href="">
                                <span class="ico ico__qzone">
                                </span>
                            </a>
                        </li>
                        <li>
                            <a title="转发到微博" target="_blank" href="">
                                <span class="ico ico__weibo">
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </foreach>
</div>