<div class="YK-aside">
			<div id="rpart18_wrap"><div id="rpart18"><div class="YK-box">
	<div class="hd">
					<div class="title" id="profile_div" mid="18">频道介绍</div>

                <div class="setting" style="display:none">
                    <div class="setup">
                        <span class="toleft"><a href="javascript:;"></a></span>
                        <span class="toright"><a href="javascript:;"></a></span>
                        <span class="up"><a href="javascript:;"></a></span>
                        <span class="down"><a href="javascript:;"></a></span>
                    </div>
                    <div class="handle"><a href="javascript:;"></a></div>
                    <div class="edit">
                        <ul>
                            <li _for="edit"><a href="javascript:;">编辑模块</a></li>
                        </ul>
                    </div>
                </div>
				<div class="clear"></div>
                <div class="YK-edit" style="display:none">
                    <div class="formbox">
                        <form onsubmit="return false">

								<div class="YK-bindset">
									<h6>绑定网站显示</h6>
									<input type="text" value="true" name="edit_show" style="display:none">
																		<div class="cert-txt">绑定您的微博等合作网站后, 访客可以从您的频道直接访问合作网站</div>
									<div class="action">
										<span class="save"><a target="_blank" href="" class="btn">去绑定网站</a></span>
										<span class="cancel" _for="cancel"><a href="javascript:void(0);" class="btn btn-minor">取&nbsp;&nbsp;消</a></span>
									</div>
									
								</div>
                        </form>
                    </div>
                </div>
				
				

					
	</div>	
				
				
        <div class="YK-profile">
            <div class="userinfo">
                <div class="avatar">
					<a title="648462189" href="">
						<img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/0130391F45548BFE862D9C0653D3C710A60339-E543-DF9B-318A-B0FB6F.jpg" title="648462189">
					</a>
                </div>
                <div class="cert-list">
                    <div class="username"><a title="648462189" href="">648462189</a><a href="" target="_blank" title="道长等级：3"><i class="lvl3"></i></a></div>
<!-- crm begin-->
						<ul id="YK_badges">
						                        </ul>
<!-- crm end-->					
					
					
                    <div class="clear"></div>
                </div>
				            </div>
			            <div class="userintro">
                <div class="desc">
                    <p>频道介绍：</p>
                    <p>还未添加频道介绍， <a href="" target="_blank">立即添加</a></p>
                </div>
                <div class="userdata">
                    <ul>
                        <li><label>总播放:</label>6万</li>
						<!--
                        <li><label>总访问:</label>700</li>
						-->
						<li><label></label></li>
						<li><label>今日新增:</label>107</li>
                    </ul>
                    <div class="clear"></div>
                    
                </div>
				                <div class="splite no_share" style="display:none"></div>
                <div class="share-list no_share" style="display:none">
										<ul>
																					                        </ul>
                </div>
            </div>
        </div>
    </div>
<div id="virtualmedalWin" style="display:none;">
    <div class="medalWin">
		<div class="medalBox">
			<div class="head"><span class="title">荣誉勋章</span></div>
			<div class="body">
				<div class="medalList curMedal">
					<div class="items">
												
					</div>
				</div>
			</div>
		</div>
<!--
		<div class="medalBox">
			<div class="head"><span class="title">历史勋章</span></div>
			<div class="body">
				<div class="medalList hostMedal">
					<div class="items">
											
					</div>
				</div>
			</div>
		</div>
-->		
	</div>
</div>
</div></div>  
			<div id="rpart21_wrap"><div id="rpart21"><div class="YK-box">
<div class="hd">
    <div class="title">访客</div>
    <div class="setting" style="display:none">
        <div class="setup">
            <span class="toleft"><a href="javascript:;"></a></span>
            <span class="toright"><a href="javascript:;"></a></span>
            <span class="up"><a href="javascript:;"></a></span>
            <span class="down"><a href="javascript:;"></a></span>
        </div>
        <div class="handle"><a href="javascript:;"></a></div>
        <div class="edit">
            <ul>
                <li _for="hide"><a href="javascript:;">隐藏模块</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bd">
    <div class="YK-userlist">
        <ul class="userlist">
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/49.jpg" title="中力环卫设备">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTYzMTUyMDgxMg==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="中力环卫设备">中力环卫设备</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">4小时前</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/18_002.jpg" title="因为我所以喜欢">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTQwODEwODE2" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="因为我所以喜欢">因为我所以喜欢</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">7小时前</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/21.jpg" title="注册个昵称还重复">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMzY1NjEwODQ4" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="注册个昵称还重复">注册个昵称还重</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">昨天 19:07</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/4.jpg" title="胡丹素">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMzE1MTg0MTY4OA==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="胡丹素">胡丹素</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">前天 20:28</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/20.jpg" title="程娜雪">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMzE1MTg1ODg1Mg==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="程娜雪">程娜雪</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">前天 17:39</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/32.jpg" title="方会兴24526670">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMzE1MDQ5NTAwNA==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="方会兴24526670">方会兴24526670</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">3天前</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/25.jpg" title="侯艺妹">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMzE1MDQwMjg2NA==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="侯艺妹">侯艺妹</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">3天前</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/41.jpg" title="小子哈哈哈哈哈">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTczNDMxMzI0" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="小子哈哈哈哈哈">小子哈哈哈哈哈</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">07-21 05:15</div>
            </li>
                       <li>
                <div class="item">
                    <div class="avatar">
                                                <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/39.jpg" title="随逸43765394">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UNTAwNDA1MjA0" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="随逸43765394">随逸43765394</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
                <div class="date">07-17 18:18</div>
            </li>
                    </ul>
    </div>
</div>
</div>
</div></div>  
			<div id="rpart22_wrap"><div id="rpart22"></div></div>  
			<div id="rpart25_wrap"><div id="rpart25"></div></div>  
			<div id="rpart27_wrap"><div id="rpart27"></div></div>  
			<div id="rpart28_wrap"><div id="rpart28"><div class="YK-box">
<div class="hd">
    <div class="title">粉丝<span class="append">( <a href="">85</a>)</span></div>
    <div class="setting" style="display:none">
        <div class="setup">
            <span class="toleft"><a href="javascript:;"></a></span>
            <span class="toright"><a href="javascript:;"></a></span>
            <span class="up"><a href="javascript:;"></a></span>
            <span class="down"><a href="javascript:;"></a></span>
        </div>
        <div class="handle"><a href="javascript:;"></a></div>
        <div class="edit">
            <ul>
                <li _for="hide"><a href="javascript:;">隐藏模块</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bd">
    <div class="YK-userlist">
        <ul class="userlist">
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/49.jpg" title="中力环卫设备">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTYzMTUyMDgxMg==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="中力环卫设备">中力环卫设备</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/18_002.jpg" title="因为我所以喜欢">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTQwODEwODE2" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="因为我所以喜欢">因为我所以喜欢</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/42.jpg" title="东方鸣镝">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMzE0ODU0MDQwMA==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="东方鸣镝">东方鸣镝</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/41.jpg" title="小子哈哈哈哈哈">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTczNDMxMzI0" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="小子哈哈哈哈哈">小子哈哈哈哈哈</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/6.jpg" title="梦之蓝79051448">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMjg4MDI1ODEyOA==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="梦之蓝79051448">梦之蓝79051448</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/0130391F4849D1FD099992009BF354E1500F31-46EF-AEA7-3306-41C5E6.jpg" title="一顶就破">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UNDA4ODE0ODg=" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="一顶就破">一顶就破</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/28.jpg" title="上帝放弃">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UMTMxNDE0MzM0MA==" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="上帝放弃">上帝放弃</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/39.jpg" title="喝茶的猪">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UNzc4OTcyNjQ=" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="喝茶的猪">喝茶的猪</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                       <li>
                <div class="item" _value="item">
                    <div class="avatar">
                                                    <img src="%E6%88%91%E7%9A%84%E9%A2%91%E9%81%93-%E4%BC%98%E9%85%B7%E8%A7%86%E9%A2%91_files/27.jpg" title="liuyangwangzhirong">
                                            </div>
                    <div class="link"><a class="YK_id" cardplace="lr" encode_uid="UNDg1NzMyOTAw" href="" target="_blank"></a></div>
                    <div class="username">
                        <span class="name"><a href="" target="_blank" title="liuyangwangzhirong">liuyangwangzhi</a></span> 
                    </div>
                    <div class="overlay"></div>
                </div>
            </li>
                    </ul>
    </div>
</div>
</div>
</div></div>  
	</div>