<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>个人设置</title>

<style>
    button.btn.btn-large, input.btn.btn-large[type="submit"] {
}


</style>


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/setting/youku.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/setting/i.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/setting/grid.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/setting/default.css"/>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/setting/home.css"/>

    <script src="__PUBLIC__/Home/js/setting/jquery.js"></script>

    <script src="__PUBLIC__/Home/js/setting/prototype.js"></script>

</head>

<body class="yk-w970">




<div class="YK yk-con">
    <div class="YK_miniheader yk-row">
    <div class="YK_masthead yk-w970-col18 yk-w1190-col22">
        <div class="YK_mainnav">
            <div class="title"><a href="javascript:void(0)">设置</a></div>
            <ul>
                <li ><a href="__URL__/index">基本设置</a></li>
                <li class="current"><a href="__URL__/setting">安全设置</a></li>
            </ul>
        </div>
        <div class="YK_operate"><a href="{:U('Home/Index/index')}">返回首页</a></div>
        <div class="clear"></div>
    </div>
</div>



<div class="yk-row">
    <div class="YK_dashboard yk-col3">
        <!--视频管理-->
        <div class="YK_dashboard_inner">
                            <ul class="YK_menu">
                    <li ><a href="__URL__/setting">邮箱/手机</a></li>
                    <li class="current"><a href="#">修改密码</a></li>
             
                </ul>
                        <ul class="YK_submenu">
                <li><a href="__APP__/Home/Space/index/id/{$model.id}" target="_blank">装扮空间</a></li>
            </ul>
        </div>
    </div>

    <div class="YK_main yk-w970-col15 yk-w1190-col19">
        <div class="YK_setting">

    <div class="content">
        <div id="set_password_wrap"><div id="set_password"><div class="content" _uc="setting">
    <div class="password">
        <div class="sec_conent">
            <div class="formbox formbox-valid">
                <form method="post" action="__URL__/editPassword">
                <fieldset id="step0">
                                 <input type="hidden" name="id" value="{$model.id}">

                                    <div class="subtips">为了保证您的账号安全，修改密码需进行安全验证</div>
                                            <!-- 仅手机验证-->
                        <div class="entry entry-relative">
                            <label>账号:</label>
                            <input type="text" name="username" id="valid_type" class="form_input" readonly value="{$model.username}" _vt="1" />

                        </div>
                        <div class="entry entry-relative">
                            <label>原密码:</label>
                            <input type="password" name="pw" id="verifycode" class="form_input" value="" style="width:200px;" />
                        </div>
                          <div class="entry entry-relative">
                            <label>新密码:</label>
                            <input type="password" id="verifycode" class="form_input" value=""  name="pass" style="width:200px;" />
                        </div>
                           <div class="entry entry-relative">
                            <label>确认密码:</label>
                            <input type="password" id="verifycode" class="form_input" value="" name="password"  style="width:200px;" />
                        </div>
                        <div class="savebtn">
                            <div class="form_btn form_btn_m form_btnmaj_m">
                        <button id="send" class="btn btn-info btn-large"   onclick='validate()' type="submit">保存</button>
                            </div>
                        </div>
                   </fieldset>

                        </form>
            </div>
        </div>
    </div>
    <div class="aside">
        <h3>请牢记你的登录密码</h3>
        <p>密码要牢记在心里，不要透露给别人。如果忘记了密码，可以通过邮箱或手机来找回。</p>
    </div>
</div>
</div></div>
    </div>
</div>
</div><!--main end-->
<div class="clear"></div>
</div>

<!--小页尾-->


<div class="s_miniFooter">
    <div class="footerBox">
        <div class="copyright">
            Copyright©2020 师者 chinashizhe.com 版权所有
            <a href="__URL__/upload-provision.html" target="_blank">反盗版盗链声明</a>
            <a href="#" target="_blank">京ICP证060288号</a>
            <a href="#" target="_blank">
                <span class="icp" title="经营性网站备案"></span>
            </a>
        </div>
    </div>
</div>


</body>
</html>
