<link href="__PUBLIC__/Home/css/youku.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/qheader.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/chuda_qheader.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/youku.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/up_v3.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src='__PUBLIC__/Home/js/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='__PUBLIC__/Home/js/common.js'></script>
<script type="text/javascript" src='__PUBLIC__/Home/js/qwindow.js'></script>
