<div style="display:none" class="qwindow" id="upload-qwindow">
    <div class="winbox">
        <div class="winhead">
            <div class="wintitle"></div>
            <div style="display:block" class="winclose"></div>
        </div>
        <div class="winbody">
            <div class="manager_tips">
                <div class="tips_title">
                    <span class="ico__fail"><em>提示</em></span>
                    <!--2012_09_21_add_b-->
                    <h3>确定中断本次上传吗？</h3>
                    <!--2012_09_21_add_b-->
                </div>
                <div class="tips_action">
                    <div class="form_btn form_btn_s form_btnmaj_s">
                        <span data-action="submit" class="form_btn_text">确 定</span>
                    </div>
                    <div class="form_btn form_btn_s form_btnsub_s">
                        <span data-action="cancel" class="form_btn_text">取 消</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="winbg"></div>
</div>