<div class="sideCol">
    <!--视频信息-->

    <div id="vphotfoldersv5_wrap">
        <div id="vphotfoldersv5">
            <div total="10" class="box nBox">
                <div class="head">
                    <div class="caption">
                        <h3 class="title">
                            热门视频
                        </h3>
                    </div>
                </div>
                <!--head end-->
                <div class="body">
                    <!--热门专辑-->
                    <div class="albums">
                        <div class="colllist1w">
                            <div class="items">
                                <div class="v v-small v-horiz">
                                    <div class="v-thumb">
                                        <img alt="">
                                        <div class="v-thumb-overlay">
                                        </div>
                                    </div>
                                    <div class="v-link">
                                        <a charset="hz-4006889-1000631" title="17 " target="_blank"
                                        href="">
                                        </a>
                                    </div>
                                    <div class="v-isdrama">
                                    </div>
                                    <div class="v-meta">
                                        <div class="v-meta-title">
                                            <a charset="hz-4006890-1000631" title=" 17 " target="_blank"
                                            href="">
                                                【轻松音乐】你唱歌这么厉害 你的小伙伴...
                                            </a>
                                        </div>
                                        <div class="v-meta-entry">
                                            <label>
                                                播放数:
                                            </label>
                                            549,981
                                        </div>
                                        <div class="v-meta-entry">
                                            <label>
                                                最近更新:
                                            </label>
                                            7个月前
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--body end-->
            </div>
        </div>
    </div>
    <div id="ab_69">
    </div>
    <div id="ab_101565">
    </div>
    <div id="ab_101618">
    </div>
    <div id="ab_v_327">
    </div>
    <div id="ab_v_1435125689">
    </div>
</div>
