<link href="__PUBLIC__/Home/css/youku.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Home/css/qheader.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/chuda_qheader.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/lsidetool.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/yk.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/grid_pc.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/subscription_feed.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/yk_mobile.css" type="text/css" rel="stylesheet">
<link href="__PUBLIC__/Home/css/toolbar_extend.css" type="text/css" rel="stylesheet">
<link rel="Shortcut Icon" href="__PUBLIC__/Home/img/favicon.ico">
<script type="text/javascript" src='__PUBLIC__/Home/js/jquery-1.8.3.min.js'></script>
<script type="text/javascript" src='__PUBLIC__/Home/js/common.js'></script>
<script type="text/javascript" src='__PUBLIC__/Home/js/qwindow.js'></script>
